@using KeyboxWeb.Models.Entites
@model IEnumerable<Card>

@{
  ViewData["Title"] = "Vault";
}

<div class="h2 p-2 mt-2">@Model.FirstOrDefault()?.Category.Name</div>
<div class="list-group">
  @if (Model.Count() != 0)
  {
    <a href="/vault/addcard" class="list-group-item list-group-item-action text-primary" aria-current="true">+ Новая карточка</a>
    foreach (var item in Model)
    {
      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">

          <h5 class="mb-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-emoji-sunglasses-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v.116A4.2 4.2 0 0 1 8 5c.35 0 .69.04 1 .116V5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-1.994-1.839A3 3 0 0 0 8 6c-.393 0-.74.064-1.006.161A2 2 0 0 1 5 8h-.438a2 2 0 0 1-1.94-1.515zM4.969 9.75A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .866-.5z" />
            </svg>
            @item.Name
          </h5>
          <small>@item.Id</small>
        </div>
        <p class="mb-1">@item.Notes</p>
        <small>@item.Url</small>
        <small>
          <a href="/vault/changecard/@item.Id">Изменить</a>
          <a href="/vault/deletecard/@item.Id" class="text-danger">Удалить</a>
        </small>
      </a>
    }
  }

  else
  {
    <p>У вас @Model.Count() карточек...</p>
  }
</div>
