@using KeyboxWeb.Models.Entites
@model IEnumerable<Card>

@{
    ViewData["Title"] = "Vault page";
}




<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <div class="h2 pb-4">@Model.FirstOrDefault().Category.Name</div>
    
    @foreach (var item in Model) {
      <div class="alert alert-primary" role="alert">@item.Id / @item.Name, @item.Url / @item.Notes</div>
    }




      <br>

      @* <form method="post" asp-controller="Vault" asp-action="AddCard">
        <p>
          <label asp-for="Name">Имя</label><br />
          <input type="text" asp-for="@CategoryId" />
        </p>
        <p>
            <label asp-for="Age">Возраст</label><br />
            <input type="number" asp-for="Age" />
        </p>
        <button type="submit" class="alert alert-success" role="alert">+ Add Card</button>
      </form> *@

</main>
