@using KeyboxWeb.Models.Entites
@model IEnumerable<Card>

@{
    ViewData["Title"] = "Vault";
}

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
  <div class="h2 pb-4">@Model.FirstOrDefault()?.Category.Name</div>
  @if (Model.Count() != 0) {
    foreach (var item in Model) {
      
      <form asp-action="ChangeCard" asp-controller="Vault" asp-route-id="@item.Id">
        <p>
          <label asp-for="@item.Name">Name</label><br />
          <input type="text" asp-for="@item.Name" />
        </p>
        <p>
          <label asp-for="@item.Url">Url</label><br />
          <input type="text" asp-for="@item.Url" />
        </p>
        <p>
          <input type="submit" value="Сохранить" />
        </p>
      </form>

      <div class="alert alert-primary" role="alert">@item.Id / @item.Name, @item.Url / @item.Notes
        <a asp-action="DeleteCard" asp-controller="Vault" asp-route-id="@item.Id" class="text-danger">Удалить</a>
      </div>
    }
  }
  else {
    <p>У вас @Model.Count() карточек...</p>
  }
      
    




  <br>

      @* <form method="post" asp-controller="Vault" asp-action="AddCard">
        <p>
          <label asp-for="Name">Имя</label><br />
          <input type="text" asp-for="@CategoryId" />
        </p>
        <p>
            <label asp-for="Age">Возраст</label><br />
            <input type="number" asp-for="Age" />
        </p>
        <button type="submit" class="alert alert-success" role="alert">+ Add Card</button>
      </form> *@

</main>
